/* general things */
* {
  box-sizing: border-box;
  margin: 0px;
}
html,body,#wrapperAll {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0px;
}
/* setting up the grid for the whole calculator */
#wrapperAll {
  display: grid;
  grid-template-columns: 1fr 240px;
  grid-template-rows: 30px minmax(100px, 225px) 1fr;
  grid-template-areas: 
  "header header"
  "infoPanel historyMemory"
  "controlPanel historyMemory" ;
}
#header {
  grid-area: header;
}
#infoPanel {
  grid-area: infoPanel;
}
#controlPanel {
  grid-area: controlPanel;
}
#historyMemory {
  grid-area: historyMemory;
}
/* Fixing up the Header */
#header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
#topOptions {
  justify-self: end;
  display:flex;
}
.option {
  padding: 0px 17px;
}
.op {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
