/* * and root and other general rules */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100%;
  background-color: var(--bcd);
}
:root {
  /* Background Color Dark*/
  --bcd: #aaaaaa;
  /* Background Color Light */
  --bcl: #d4d4d4;
  /* Disabled Color */
  --dc: #797979;
  /* Hover Color */
  --hc: #616161;
}
/* ---------------------------------------------------- */

.container.wrapper-header {
  display: grid;
  grid-template-columns: 1fr repeat(3, 50px);
  grid-template-rows: 40px;
}
.wrapper-header p {
  text-align: center;
  padding-top: 8px; 
}
.name p{
  font-family: sans-serif ;
  font-size: 1.1rem;
  font-weight: 500;
  padding-left: .5rem;
  text-align: left;
}
.top-bar p{
  font-size: 1rem;
  font-weight: 500;
}
.top-bar:hover {
  background-color: rgb(253, 40, 40);
  color: white;
}
